{% extends 'base.html' %}
{% load imagefit %}

{% block title %}
    Врачи
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Врачи</h1>
    <div id="accordion" class='doctors'>
        {% for doctormain in doctormains %}
            <div class="card">
                <div class="card-header" id="heading-{{ doctormain.id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ doctormain.id }}" aria-expanded="false" aria-controls="collapse-{{ doctormain.id }}">
                            {{doctormain.name}}
                        </button>
                    </h5>
                </div>              
                <div id="collapse-{{ doctormain.id }}" class="collapse" aria-labelledby="heading-{{ doctormain.id }}" data-parent="#accordion"> 
                    <div class="card-body d-flex flex-row flex-wrap align-items-end">
                        {% for doctor in doctormain.doctors.all %}
                            <div class="col-md-3">
                                <div class="card">
                                    <a href='{{ doctor.get_absolute_url }}'><img class="card-img-top" src="{{doctor.image.url|resize:'300x400,C'}}"></a>
                                    <div class="card-body">
                                        <div class="text-center">
                                            <a href='{{ doctor.get_absolute_url }}' class="card-link">
                                                {{doctor.user.last_name}}<br>
                                                {{doctor.user.first_name}}<br>
                                                {{doctor.user.sur_name}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>      
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}