{% extends 'base.html' %}
{% load imagefit %}

{% block title %}
    {{doctor.last_name}} {{doctor.first_name}} {{doctor.sur_name}}
{% endblock title %}

{% block content %}
<div class="container">
    <h1>{{doctor.last_name}} {{doctor.first_name}} {{doctor.sur_name}}</h1>
    <div class="doctorinfo">
        <img src="{{doctor.image.url|resize:'300x400,C'}}" alt="doctor_image">
        <p>{{ doctor.information|safe }}</p>
    </div>
    <div class="doctorschedule">
        {% for workdate in workdates %}
            <div>
                {{ workdate.workcity }}
                {{ workdate.date }}
                {% for worktime in workdate.worktimes.all %}
                    {{ worktime.time }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>        
    <div id="accordion" class='doctors'>
        <div class="card">
            <div class="card-header" id="heading-{{ doctor.id }}">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ doctor.id }}" aria-expanded="false" aria-controls="collapse-{{ doctor.id }}">
                        Услуги врача
                    </button>
                </h5>
            </div>   
            <div id="collapse-{{ doctor.id }}" class="collapse" aria-labelledby="heading-{{ doctor.id }}" data-parent="#accordion">
                <div class="list-group">
                    {% for service in doctor.services.all %}
                        <a href="{{ service.get_absolute_url }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            {{service.name}}
                            <b>{{service.price}}</b>
                        </a>
                    {% endfor %}
                </div> 
            </div>
        </div>
    </div>
    <form action="{% url 'doctorbooknow' %}">
            <button type="submit" class="btn servicedetailorder" name="doctor_id" value="{{ doctor.id }}">Записаться на приём</button>
    </form>
</div>
{% endblock content %}