{% extends 'base.html' %}

{% block title %}
    Профиль
{% endblock title %}

{% block content %}
<div class="container profile">
    <h1>Профиль директора</h1>
        <div class="profileinfo">
            <a href='#'>Отчеты</a>
            <a href='#'>Зарегистрировать нового пользователя</a>
            <a href='#'>Найти пользователя</a>
            <a href="#">Оформить заказ</a>
            <a href='#'>Найти заказ</a>
            <a href='#'>Редактирование услуг</a>
            <a href='#'>Редактирование анализов</a>
        </div>
</div>
{% endblock content %}