{% extends 'base.html' %}

{% block title %}
    Профиль
{% endblock title %}

{% block content %}
<div class="container profile">
    <h1>Профиль старшего оператора</h1>
        <div class="profileinfo">
                <a href="#">Расписание(?)</a>
                <a href="#">Записать на прием</a>
                <a href="#">Записать на анализы (если будем делать отдельно)</a>
                <a href="#">Оформить заказ</a>
                <a href='#'>Найти заказ</a>
                <a href='#'>Найти пользователя</a>
                <a href="#">График работы докторов</a>
        </div>
</div>
{% endblock content %}