{% extends 'base.html' %}

{% block title %}
    Услуги
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Услуги</h1>
    <div id="accordion">
        {% for servicemain in servicemains %}
            <div class="card">
                <div class="card-header" id="heading-{{ servicemain.id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ servicemain.id }}" aria-expanded="false" aria-controls="collapse-{{ servicemain.id }}">
                            {{servicemain.name}}
                        </button>
                    </h5>
                </div>              
                <div id="collapse-{{ servicemain.id }}" class="collapse" aria-labelledby="heading-{{ servicemain.id }}" data-parent="#accordion"> 
                    <div class="list-group">
                        {% for service in servicemain.services.all %}
                            <a href="{{ service.get_absolute_url }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                {{service.name}}
                                <b>{{service.price}}</b>
                            </a>
                        {% endfor %}
                    </div>      
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}