{% extends 'base.html' %}

{% block title %}
    Услуги
{% endblock title %}

{% block content %}
<div class="container">
    <div class="accordion" id="accordion">
        {% for servicemain in servicemains %}
            <div class="card">
                <div class="card-header" id="heading-{{ servicemain.id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{ servicemain.id }}" aria-expanded="false" aria-controls="collapse-{{ servicemain.id }}">
                            {{servicemain.name}}
                        </button>
                    </h5>
                </div>              
                <div id="collapse-{{ servicemain.id }}" class="collapse" aria-labelledby="heading-{{ servicemain.id }}" data-parent="#accordion"> 
                    <div class="card-body">
                        {% for service in servicemain.services.all %}
                            {{service.name}}
                        {% endfor %}
                    </div>      
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}