<header>
    <div class="row top-header">
        <div class="col-md-offset-1 col-md-5">г. Пятигорск, ул. Кузнечная 26</div>
        <div class="col-md-5 text-right">
            <span>+7 (928) 828 4001</span>
            <a href="#">Записаться на приём</a>
        </div>
        <div class="col-md-1"></div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0063A0;">
        <a class="navbar-brand" href="{% url 'index' %}">Поликлиника 4D</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  justify-content-end" id="navbarNav">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Главная</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle">О клинике <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <div class="row">
                            <div class="col-lg-4">
                                {% for about in abouts %}
                                    <li><a href="{% url 'about_detail' about.id %}">{{about.title}}</a></li>
                                {% endfor %}
                            </div>
                        </div>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="{% url 'services' %}" class="nav-link dropdown-toggle nav-link" role="button" aria-haspopup="true" aria-expanded="false">Услуги <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for servicemain in servicemains %}
                            <li><a href="#">{{servicemain.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">УЗИ</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Врачи <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Акушер-гинеколог</a></li>
                        <li><a href="#">Андролог</a></li>
                        <li><a href="#">Дерматолог</a></li>
                        <li><a href="#">Маммолог</a></li>
                        <li><a href="#">Проктолог</a></li>
                        <li><a href="#">Флеболог</a></li>
                        <li><a href="#">Аллерголог-иммунолог</a></li>
                        <li><a href="#">Гастроэнтеролог</a></li>
                        <li><a href="#">Инфекционист</a></li>
                        <li><a href="#">Ортопед-травматолог</a></li>
                        <li><a href="#">Невролог</a></li>
                        <li><a href="#">Эндокринолог</a></li>
                        <li><a href="#">Кардиолог-аритмолог</a></li>
                        <li><a href="#">Гепатолог</a></li>
                        <li><a href="#">ЛОР - Оториноларинголог</a></li>
                        <li><a href="#">Педиатр-неонатолог</a></li>
                        <li><a href="#">Уролог</a></li>
                        <li><a href="#">Нефролог</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">Цены</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Новости</a></li>
                <li class="nav-item"><a class="nav-link" href="#contacts">Контакты</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'vacancys' %}">Вакансии</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Введите услугу" aria-label="Search">
                <button type="submit" class="btn btn-outline-light my-2 my-sm-0">Поиск</button>
            </form>
        </div>
    </nav>
</header>