{% load static %}

<header>
    <div class="top-header container">
        <div class="row justify-content-between align-items-center">
            <div class="brand"><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}"></a>
            </div>
            <div class="topheaderinfo d-flex flex-column">
                <select id="cityheaderinfo">
                    {% for city in cities %}
                    <option value="{{ city.id }}">
                        <span>г. {{ city.city }}, {{ city.address }} </span>
                    </option>
                    {% endfor %}
                </select>
                <select disabled id="phoneheaderinfo">
                    {% for city in cities %}
                    <option value="{{ city.id }}">
                        <span>{{ city.phone }}</span>
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2A93C9;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Главная</a></li>           
                    <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Услуги</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'doctors' %}">Врачи</a></li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О клинике</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for about in abouts %}
                                <a class="dropdown-item" href="{% url 'about_detail' about.id %}">{{about.title}}</a>
                            {% endfor %}
                        </div>
                    </li>   
                    <li class="nav-item"><a class="nav-link" href="{% url 'news' %}">Новости</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'reviews' %}">Отзывы</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'vacancys' %}">Вакансии</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Вход для персонала</a></li> -->
                    <!-- <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Клинические исследования</a></li> -->
                </ul>
                <form class="form-inline nav-search formsearch">
                    <input class="form-control mr-sm-2 d-none mainsearch" type="search" placeholder="Поиск..." aria-label="Search">
                    <span>
                        <i class="fa fa-search"></i>
                    </span>
                </form>
            </div>
        </nav>
    </div>
</header>