{% extends "base.html" %}
{% load static %}

{% block title %}
    Записаться на приём
{% endblock title %}

{% block content %}
<div class="calendar">
    <div class="container">
        <h1>Записаться на приём</h1>
            <nav class="d-none d-sm-none d-md-block">  <!-- Большой экран -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="service-tab" data-toggle="tab" href="#service" role="tab" aria-controls="service" aria-selected="true">Выберите услугу</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" id="doctor-tab" data-toggle="tab" href="#doctor" role="tab" aria-controls="doctor" aria-selected="false">Выберите врача</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" id="city-tab" data-toggle="tab" href="#city" role="tab" aria-controls="city" aria-selected="false">Выберите город</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" id="datetime-tab" data-toggle="tab" href="#datetime" role="tab" aria-controls="datetime" aria-selected="false">Выберите дату и время</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" id="enterinfo-tab" data-toggle="tab" href="#enterinfo" role="tab" aria-controls="enterinfo" aria-selected="false">Введите свои данные</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="service" role="tabpanel" aria-labelledby="service-tab">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.servicechoice }}
                            {{ form.media }}
                            <button type="submit" class="btn btn-success">Далее</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="doctor" role="tabpanel" aria-labelledby="doctor-tab">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.doctorchoice }}
                            {{ form.media }}
                            <button type="submit" class="btn btn-success">Далее</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="city" role="tabpanel" aria-labelledby="city-tab">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.citychoice }}
                            {{ form.media }}
                            <button type="submit" class="btn btn-success">Далее</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="datetime" role="tabpanel" aria-labelledby="datetime-tab">
                            <input type="text" class="form-control" placeholder="Выберите дату и время">
                    </div>
                    <div class="tab-pane fade" id="enterinfo" role="tabpanel" aria-labelledby="enterinfo-tab">
                            <input type="text" class="form-control" placeholder="Введите свои данные">
                    </div>
                </div>
            </nav>
    </div>
</div>
{% endblock content %}