{% extends 'base.html' %}
{% load static %}

{% block title %}
  Поликлиника УЗИ 4Д
{% endblock title %}

{% block content %}
  <div class="carousel" id="index-carousel">  <!-- слайдер -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
            <a href='#'><img class="d-block" src="https://via.placeholder.com/2100x276">
              <div class="carousel-caption d-none d-md-block">
                <h3>Текст 1</h3>
                <p>шо то там</p>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href='#'><img class="d-block" src="{% static 'images/mainbg.png' %}">
              <div class="carousel-caption d-none d-md-block">
                <h5>.L.</h5>
                <p>.L1.</p>
              </div>
            </a>
          </div>
          <div class="carousel-item">
            <a href='#'><img class="d-block" src="{% static 'images/mainbg.png' %}">
              <div class="carousel-caption d-none d-md-block">
                <h5>.K.</h5>
                <p>.K2.</p>
              </div>
            </a>
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="index-services">  <!-- Популярные типы услуг -->
    <div class="container">
      <h2 class="text-center">Услуги</h2>
      <p class="text-center pt-2">мб убрать это вообще</p>
      <div class="d-flex justify-content-around flex-wrap">
        {% for service in popular_services %}
          <div class="one-service">
            <a href="#">
              <img src="{% static 'images/mainbg.png' %}" alt="service_img">
              <p><span>{{ service.name }}</span></p>
            </a>
          </div>
        {% endfor %}
      </div>
      <a href="{% url 'services' %}" class="btn btn-primary">Все услуги</a>
    </div>
  </div>

  <div class="index-news">     <!-- Название новостей не показывает -->
    <div class="container">
      <h2 class="text-center">Новости</h2>
      <p class="text-center pt-2">мб убрать это вообще</p>
      <div class="d-flex justify-content-around flex-wrap">
        {% for new in last_news %}
          <div class="one-new">
            <a href="#">
              <img src="{% static 'images/mainbg.png' %}" alt="service_img">
              <p><span>{{ new.name }}</span></p>
            </a>
          </div>
        {% endfor %}
      </div>
      <a href="{% url 'news' %}" class="btn btn-primary">Все новости</a>
    </div>
  </div>
{% endblock content %}