@font-face {
    font-family: 'RussoOne';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
}

body {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1em;
}

.form-control {
    border-radius: 0%;
    border: 1px solid #fff;
}

.btn {
    border-radius: 0%;
}

/********** HEADER **********/

header .top-header {
    padding: 10px 50px;
}

header .navbar-brand {
    text-transform: uppercase;
    font-size: 1.5em;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color:#01C5A2;
}

header .navbar-dark {
    padding: 25px 20px;
}

header .navbar-nav {
    font-size: 1em;
}

/********** FOOTER **********/

footer {
    background-color: #0063A0;
}

footer #contacts {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    margin-top: 75px;
    padding-top: 50px;
}

footer .top-footer {
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow:0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 50px;
    background-color: #fff;
}

footer .top-footer ul {
    list-style-type: none;
}

footer .adresses {
    padding: 30px;
}

footer .map {
    padding: 0;
}

footer .adresses ul li {
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
}

footer .adresses ul li i {
    position: absolute;
    left: 0;
    top: 2px;
    color: #0063A0;
}

footer .adresses ul li span {
    display: block;
    padding-left: 25px;
}

footer .bottom-footer {
    background-color: #fff;
    padding: 20px 0 0 0;
}

footer .bottom-footer .text-center:first-child {
    font-size: 2em;
}

/********** INDEX **********/

#index-carousel img {
    width: 100%;
    height: 500px;
}

.index-services {
    padding: 60px 0;
    background-color: #f4fefc;
}

.index-services .one-service {
    margin-top: 50px;
}

.index-services .one-service a {
    display: block;
    position: relative;
    margin: 0 10px;
}

.index-services .one-service img {
    display: block;
    width: 250px;
    height: 250px;
}

.index-services .one-service a p {
    position: absolute;
    width: 100%;
    bottom: 1em;
    left: 0;
    text-align: center;
    padding-bottom: 20px;
}

.index-services .one-service a p span {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    font-weight: bold;
    color: #0063A0;    
}

.index-services .one-service a:hover p span,
.index-services .one-service a:focus p span {
    color:#01C5A2;
}

.index-services .btn {
    display: block;
    width: 150px;
    margin: 50px auto;
    background-color: #01C5A2;
    border-color: #01C5A2; 
}

.index-services h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #0063A0; 
}

.index-services .btn:hover,
.index-services .btn:focus {
    background-color: #01C5A2;
    border-color: #01C5A2;
    opacity: 0.7;
    outline: none;
}

.index-news {
    padding: 60px 0;
    background-color: #f4fefc;
}

.index-news .one-new {
    margin-top: 50px;
}

.index-news .one-new a {
    display: block;
    position: relative;
    margin: 0 10px;
}

.index-news .one-new img {
    display: block;
    width: 250px;
    height: 250px;
}

.index-news .one-new a p {
    position: absolute;
    width: 100%;
    bottom: 1em;
    left: 0;
    text-align: center;
    padding-bottom: 20px;
}

.index-news .one-new a p span {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    font-weight: bold;
    color: #0063A0;    
}

.index-news .one-new a:hover p span,
.index-news .one-new a:focus p span {
    color:#01C5A2;
}

.index-news .btn {
    display: block;
    width: 150px;
    margin: 50px auto;
    background-color: #01C5A2;
    border-color: #01C5A2; 
}

.index-news h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: #0063A0; 
}

.index-news .btn:hover,
.index-news .btn:focus {
    background-color: #01C5A2;
    border-color: #01C5A2;
    opacity: 0.7;
    outline: none;
}

/********** VACANCY **********/

.vacancy h3 {
    font-size: 1.8em;
    padding-bottom: 20px;
    margin-top: 35px;
}

.vacancy span {
    font-size: 1.3em;
}

.vacancy hr {
    display: block;
    border-style: solid;
    border-color: black;
    border-width: 0 0 2px 0;
}

.vacancyinfo:last-child hr {
    display: none;
}

/********** SERVICES **********/

.container #accordion {
    margin-top: 75px;
    border-top: 1px solid #0063A0;
}

h1 {
    padding-top: 75px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#accordion .card {
    border-radius: 0;
    border: none;
}

#accordion .card .card-header {
    background-color: white;
    border-bottom: 1px solid #0063A0;
    border-top: none;
    border-right: none;
    border-left: none;
    box-sizing: border-box;
}

#accordion .card .list-group {
    border-bottom: 1px solid #0063A0;
}

#accordion .btn {
    font-size: 1em;
}

#accordion .btn:hover {
    color:#01C5A2;
    font-weight: bold;
}

.card-body {
    font-size: 1.1em;
}

#accordion .list-group a:hover,
#accordion .list-group a:focus {
    background-color: #0063A0;
    color: #fff;
}

/********** NEWS **********/

.news h1 {
    margin-bottom: 75px;
}

.news .col-md-5 {
    height: 300px;
    padding: 0;
}

.news .col-md-7 {
    position: relative;
    padding: 15px 25px 15px 30px;
}

.newsinfo {
    margin-bottom: 50px;
    box-shadow:9px 10px 37px 1px rgba(0,0,0,0.11);
    -webkit-box-shadow:9px 10px 37px 1px rgba(0,0,0,0.11);
    -moz-box-shadow:9px 10px 37px 1px rgba(0,0,0,0.11);
}

.newsinfo .date {
    padding-top: 10px;
    color: #aaa;
    font-size: 0.9em;
}

.newsinfo h3 {
    padding: 0;
    font-size: 1.3em;
    font-weight: bold;
}

.newsinfo .newsimage {
    background-size: cover;
}

.newsinfo .btn-primary {
    background-color: #0063A0;
}

.newsinfo .desc {
    margin-bottom: 20px;
}

/********** DOCTORS **********/

.doctors .card-body .card {
    margin-top:30px;
    box-shadow:9px 10px 37px 1px rgba(0,0,0,0.11);
    -webkit-box-shadow:9px 10px 37px 1px rgba(0,0,0,0.11);
    -moz-box-shadow:9px 10px 37px 1px rgba(0,0,0,0.11);
}

.doctors .card-body .card a:hover,
.doctors .card-body .card a:focus {
    color: #01C5A2;
}

/********** BOOKNOW **********/

.calendar h1 {
    margin-bottom: 50px;
}

.calendar form input {
    border: 1px solid #0063A0;
    margin-bottom: 10px;
}

.calendar form select {
    border: 1px solid #0063A0;
    border-radius: 0;
    margin-bottom: 10px;
}

.breadcrumbmodify {
    list-style-type: none;
    padding: 0;
}

.breadcrumbmodify li {
    text-align: center;
    padding: 0 10px;
}

/* #myTabContent .show {
    background-color: #0063A0;
} */

/* AUTH */

.form-horizontal{
background: #fff;
padding-bottom: 75px;
}

.form-horizontal h1 {
    margin-bottom: 35px;
}

.form-horizontal .form-group{
padding: 0 40px;
position: relative;
}

.form-horizontal .form-control{
background: #f0f0f0;
padding: 0 20px 0 45px;
height: 40px;
}

.form-horizontal .form-control:focus{
background: #e0e0e0;
box-shadow: none;
outline: 0 none;
border: 1px solid #0063A0;
}

.form-horizontal .form-group i{ /* значки */
position: absolute;
top: 12px;
left: 60px;
font-size: 17px;
color: #c8c8c8;
transition : all 0.5s ease 0s;
}

.form-horizontal .form-control:focus + i{
color: #0063A0;
}

.form-horizontal .btn{
font-size: 15px;
color: #fff;
background: #0063A0;
padding: 10px 25px;
border: none;
text-transform: capitalize;
}

.form-horizontal .btn:hover,
.form-horizontal .btn:focus {
    color:#01C5A2;
}