@charset "UTF-8";
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  background-color: #F1F3F9;
}

* {
  padding: 0;
  margin: 0;
}

.form-control {
  border-radius: 0%;
  border: 1px solid #fff;
}

.btn {
  border-radius: 0%;
}

.wraper {
  position: relative;
  height: 700px;
  width: 100%;
  background-color: #397d9c;
}

/********** HEADER ********* */
header {
  position: absolute;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 200px;
}
header .top-header {
  padding: 30px 50px;
}

.top-header .brand a {
  padding-left: 10px;
  color: white;
  font-size: 2rem;
}
.top-header .brand a:hover {
  text-decoration: none;
}
/* слишком деревянный */
/* .topheaderinfo #cityheaderinfo {  
  background-color: white;
  border: thin solid blue;
  border-radius: 8px;
  display: inline-block;
  font: inherit;
  line-height: 1rem;
  padding: 0.5rem 3.5rem 0.5rem 1rem;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position:
    calc(100% - 20px) calc(0.8rem + 2px),
    calc(100% - 15px) calc(0.8rem + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5rem 2rem;
  background-repeat: no-repeat;
} */

/* .topheaderinfo #cityheaderinfo:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
} */

.topheaderinfo #phoneheaderinfo {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
}

.topheaderinfo #phoneheaderinfo:disabled { 
  color: rgb(5, 255, 209);  /* нормальный цвет нужен*/
  background: rgba(1, 1, 1, 0);
  border: none;
  }

.topheaderinfo span {
  color: white;
  padding-left: 20px;
  font-size: 1.1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: white;
  background-color: #1D86BC;
}

header .navbar {
  flex: 1;
  padding: 0 20px 0 0;
  box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
header .navbar #navbarSupportedContent > ul {
  width: 100%;
  display: flex;
}

#navbarSupportedContent .nav-item {
  text-transform: uppercase;
  font-weight: bold;
}

header .navbar .nav-item .nav-link {
  padding: 20px 15px;
}

.nav-search {
  position: relative;
}

.nav-search .mainsearch {
  position: absolute;
  width: 1062px;
  height: 64px;
  right: 20px;
  background-color: #2A93C9;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 1.5rem;
}

.nav-search .mainsearch::placeholder {
  color: white;
}

.nav-search span i {
  color: white;
  cursor: pointer;
}

.dropdown-menu {
  border-radius: 0;
  margin: 0;
  box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 35px 2px rgba(0, 0, 0, 0.4);
}

.dropdown-menu a {
  color: #1D86BC;
  font-weight: normal;
  text-transform: none;
}

.differences .ourpros {
  width: 25%;
}

.differences h2 {
  margin: 75px 0;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.differences .ourpros i {
  text-align: center;
  border: 2px solid #E5E5E5;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #2A93C9;
  font-size: 6rem;
  line-height: 135px;
  display: block;
  margin: 0 auto;
}

.differences .ourpros span {
  padding-top: 15px;
  display: block;
  text-align: center;
}

/********** FOOTER ********* */

.top-footer {
  width: 100%;
  margin-top: 75px;
}

footer .bottom-footer {
  background-color: #2A93C9;
  color: white;
  padding: 20px 0 0 0;
}

footer .bottom-footer .text-center:first-child {
  font-size: 2rem;
  opacity: 0.5;
}

footer .bottom-footer .text-center:last-child {
  padding-bottom: 16px;
  margin: 0 !important;
}

/********** INDEX ********* */
#index-carousel, .gradient {
  width: 100%;
  height: 700px;
}

#index-carousel {
  position: absolute;
  top: 0;
}
#index-carousel img {
  width: 100%;
  height: 700px;
}

.gradient {
  position: absolute;
  top: 0;
  z-index: 3333;
  background: linear-gradient(180deg, rgba(57, 125, 156, 0.7) 0%, rgba(241, 243, 249, 0.5) 100%);
}

#index-carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.paralax {
  margin-top: 75px;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  background-image: url('../images/may.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.paralax .paralax-text {
  padding-top: 150px; 
}

.paralax .paralax-text p {
  width: 600px;
  font-size: 3rem;
  color: white;
}

.paralax .paralaxbtn {
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: white;
  color: black;
  transition: ease 0.3s;
}

.paralax .paralaxbtn:hover {
  background-color: #2A93C9;
  color: white;
}

.index-services {
  padding: 60px 0;
}

.index-services .one-service {
  margin-top: 50px;
}

.index-services .one-service a {
  display: block;
  position: relative;
  margin: 0 10px;
}

.index-services .one-service img {
  display: block;
  width: 320px;
  height: 320px;
  border-radius: 4px;
}

.index-services .one-service a p {
  position: absolute;
  width: 270px;
  left: 80px;
  bottom: 20px;
  border-radius: 4px;
  text-align: left;
  background-color: #2A93C9;
  padding: 10px;
  font-weight: bold;
  color: white;
  margin: 0;
  transition: 0.3s;
}

.index-services .one-service a p i {
  color: grey;
  text-align: center;
  display: inline-block;
  width: 0;
  opacity: 0;
}

.index-services .one-service a:hover p,
.index-services .one-service a:focus p {
  background-color: #272727;
}

.index-services .one-service p:hover i,
.index-services .one-service p:focus i {
  padding-right: 20px;
  transition: 0.3s;
  width:20px;
  opacity: 1;
}

.index-services h2 {
  text-transform: uppercase;
  font-weight: normal;
}

.index-doctors {
  margin-top: 75px;
  margin-bottom: 150px;
}

.index-doctor {
  position: relative;
  width: calc(100%/5);
  height: auto;
}

.index-doctors .index-doctor:nth-child(odd)>div>div {
  background-color: #1D86BC;
} 

.index-doctors .index-doctor:nth-child(even)>div>div {
  background-color: #2A93C9;
}

.index-doctor>div {
  z-index: 2;
  position: absolute;
  bottom: -100px;
  width: 100%;
}

.index-doctor>div>div {
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  height: 100px;
}

.index-doctor>div>div h4 {
  font-size: 1.4rem;
}

.index-doctor>div>div p {
  opacity: 0.5;
}

.index-doctors .index-doctor img {
  z-index: 1;
  width: 100%;
  height: auto;
}

.index-doctor a {
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: #272727;
  display: block;
  padding: 0 20px;
  height: 0;
  transition: 0.5s;
  box-sizing: border-box;
}

.index-doctor:hover>div>a {
  padding: 20px;
  height: 60px;
}

.index-doctor a:hover {
  background-color: #272727;
  color: white;
}

.index-news {
  padding: 60px 0;
}

.index-news .one-new {
  margin-top: 50px;
}

.index-news .one-new a {
  display: block;
  position: relative;
  margin: 0 10px;
}

.index-news .one-new img {
  display: block;
  width: 250px;
  height: 250px;
}

.index-news .one-new a p {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  left: 0;
  text-align: center;
  padding-bottom: 20px;
}

.index-news .one-new a p span {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  font-weight: bold;
  color: #2A93C9;
}

.index-news .one-new a:hover p span, .index-news .one-new a:focus p span {
  color: #01C5A2;
}

.index-news .btn {
  display: block;
  width: 150px;
  margin: 50px auto;
  background-color: #01C5A2;
  border-color: #01C5A2;
}

.index-news h2 {
  text-transform: uppercase;
  font-weight: normal;
}

.index-news .btn:hover, .index-news .btn:focus {
  background-color: #01C5A2;
  border-color: #01C5A2;
  opacity: 0.7;
  outline: none;
}

/********** VACANCY ********* */
.vacancy h3 {
  font-size: 1.8rem;
  padding-bottom: 20px;
  margin-top: 35px;
}
.vacancy span {
  font-size: 1.3rem;
}
.vacancy hr {
  display: block;
  border-style: solid;
  border-color: black;
  border-width: 0 0 2px 0;
}

.vacancyinfo:last-child hr {
  display: none;
}

/********** SERVICES ********* */
.container #accordion {
  margin-top: 75px;
  border-top: 1px solid #2A93C9;
}

h1 {
  margin-top: 275px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

#accordion .card {
  border-radius: 0;
  border: none;
}
#accordion .card .card-header {
  background-color: white;
  border-bottom: 1px solid #2A93C9;
  border-top: none;
  border-right: none;
  border-left: none;
  box-sizing: border-box;
}
#accordion .card .list-group {
  border-bottom: 1px solid #2A93C9;
}
#accordion .btn {
  font-size: 1rem;
}
#accordion .btn:hover {
  color: #01C5A2;
  font-weight: bold;
}

.card-body {
  font-size: 1.1rem;
}

#accordion .list-group a:hover, #accordion .list-group a:focus {
  background-color: #2A93C9;
  color: #fff;
}

/********** SERVICES ********* */
.container .servicedetailorder {
  background-color: #2A93C9;
  color: #fff;
}
.container .servicedetailorder:hover, .container .servicedetailorder:focus {
  color: #01C5A2;
}

/********** NEWS ********* */
.news h1 {
  margin-bottom: 75px;
}
.news .col-md-5 {
  height: 300px;
  padding: 0;
}
.news .col-md-7 {
  position: relative;
  padding: 15px 25px 15px 30px;
}

.newsinfo {
  margin-bottom: 50px;
  box-shadow: 9px 10px 37px 1px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 9px 10px 37px 1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 9px 10px 37px 1px rgba(0, 0, 0, 0.11);
}
.newsinfo .date {
  padding-top: 10px;
  color: #aaa;
  font-size: 0.9rem;
}
.newsinfo h3 {
  padding: 0;
  font-size: 1.3rem;
  font-weight: bold;
}
.newsinfo .newsimage {
  background-size: cover;
}
.newsinfo .btn-primary {
  background-color: #2A93C9;
}
.newsinfo .desc {
  margin-bottom: 20px;
}

/********** DOCTORS ********* */
.doctors .card-body .card {
  margin-top: 30px;
  box-shadow: 9px 10px 37px 1px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 9px 10px 37px 1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 9px 10px 37px 1px rgba(0, 0, 0, 0.11);
}
.doctors .card-body .card a:hover, .doctors .card-body .card a:focus {
  color: #01C5A2;
}

/********** BOOKNOW ********* */
.calendar h1 {
  margin-bottom: 50px;
}
.calendar form input {
  border: 1px solid #2A93C9;
  margin-bottom: 10px;
}
.calendar form select {
  border: 1px solid #2A93C9;
  border-radius: 0;
  margin-bottom: 10px;
}

.breadcrumbmodify {
  list-style-type: none;
  padding: 0;
}
.breadcrumbmodify li {
  text-align: center;
  padding: 0 10px;
}

#myTab li {
  margin-bottom: 20px;
}

#myTabContent .btn {
  margin-top: 25px;
  color: #fff;
  background-color: #2A93C9;
  border-color: #2A93C9;
}

.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: white;
  background-color: #2A93C9;
}

/* AUTH */
.form-horizontal {
  background: #fff;
  padding-bottom: 75px;
}
.form-horizontal h1 {
  margin-bottom: 35px;
}
.form-horizontal .form-group {
  padding: 0 40px;
  position: relative;
}
.form-horizontal .form-control {
  background: #f0f0f0;
  padding: 0 20px 0 45px;
  height: 40px;
}
.form-horizontal .form-control:focus {
  background: #e0e0e0;
  box-shadow: none;
  outline: 0 none;
  border: 1px solid #2A93C9;
}
.form-horizontal .form-group i {
  /* значки */
  position: absolute;
  top: 12px;
  left: 60px;
  font-size: 17px;
  color: #c8c8c8;
  transition: all 0.5s ease 0s;
}
.form-horizontal .form-control:focus + i {
  color: #2A93C9;
}
.form-horizontal .btn {
  font-size: 15px;
  color: #fff;
  background: #2A93C9;
  padding: 10px 25px;
  border: none;
  text-transform: capitalize;
}
.form-horizontal .btn:hover, .form-horizontal .btn:focus {
  color: #01C5A2;
}